e. = explorer .
ls = ls --color $*
geek = "%tools%/geek/geek.exe" $T
burpsuite = javaw15 -noverify -javaagent:"%br%\burploader.jar" -jar "%br%\burpsuite_pro.jar" $T
burpsuitezh = javaw15 -noverify --illegal-access=permit -Dfile.encoding=utf-8 -javaagent:"%br%\BurpSuiteCnV2.0.jar" -javaagent:"%br%\burploader.jar" -jar "%br%\burpsuite_pro.jar" $T
hfs = "%tools%/hfs/hfs.exe" $T
winhex = "%tools%/winhex/winhex.exe" $T