e. = explorer .
ls = ls --color $*
Geek = "%tools%/geek/geek.exe" $T
Burpsuite = javaw15 -noverify -javaagent:"%br%\burploader.jar" -jar "%br%\burpsuite_pro.jar" $T
Burpsuitezh = javaw15 -noverify --illegal-access=permit -Dfile.encoding=utf-8 -javaagent:"%br%\BurpSuiteCnV2.0.jar" -javaagent:"%br%\burploader.jar" -jar "%br%\burpsuite_pro.jar" $T
Hfs = "%tools%/hfs/hfs.exe" $T
Winhex = "%tools%/winhex/winhex.exe" $T
Sqlmap = python27 "%tools%/sqlmap/sqlmap.py" $* --output-dir="%tools%/sqlmap/output"
Exploit = python27 "%tools%\Windows-Exploit\windows-exploit-suggester.py" $*
ScanPort = "%tools%\ScanPort\scanport.exe" $T
Spaces = "%tools%\spacesniffer\SpaceSniffer.exe" $T
Scrcpy = "%tools%\scrcpy-win64-v1.23\scrcpy.exe" $*
upx = "%tools%\upx\upx.exe" $*
cloc = "%tools%\cloc\cloc-1.92.exe" $*